.row {
    max-width: $grid-width;
    margin: 0 auto;

    &:not(:last-child) {
        margin-bottom: $gutter-vertical;

    }
    @include clearfix;

    // this will select all of the elements in which the class attribute starts, and thats what the ^ symbol mreans. so where all the class attribute star with col.
    [class^="col-"] {
        float: left;

        &:not(:last-child) {
            margin-right: $gutter-horizontal;
        }
    }


    .col-1-of-2 {
        // calc allows us to make calculations where we can mix units.
        // to use Sass variable, we have to add hash and wrap it in curly braces to get it to work
        width: calc((100% - #{$gutter-horizontal}) / 2);  
    }

    .col-1-of-3 {
        width: calc((100% - 2 * #{$gutter-horizontal}) / 3);
    }
    .col-2-of-3 {
        width: calc(2 * ((100% - 2 * #{$gutter-horizontal}) / 3) + #{$gutter-horizontal});
    }
}